.DS_Store
.obsidian/cache/
.obsidian/workspace.json
.obsidian/appearance.json
.obsidian/plugins/obsidian-git/data.json
.obsidian/plugins/obsidian-git/log.json
.obsidian/plugins/obsidian-git/README.md
.obsidian/plugins/templater-obsidian/data.json
.obsidian/plugins/dataview/cache.json
